<% content_for :head do %>
	<%= stylesheet_link_tag 'people' %>
<% end %>


<ul id="subpages" class="clearfix">
	<li><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li class="active-subpage">People</li>
</ul>

<div id="people-banner" class="banner-row">
	<div id="sterling-blurb">
		<%= render :partial => 'application/blurb', :locals => { :permalink => 'people-header-sterling-bio' } %>
	</div>
	<div id="contact-blurb">
		<%= render :partial => 'application/blurb', :locals => { :permalink => 'people-header-contact-us' } %>
	</div>
	<div id="sterling-photo">
		<%= render :partial => 'application/blurb', :locals => { :permalink => 'people-header-sterling-photo' } %>
	</div>
</div>

<div id="greeting-and-links">
	<h2>Meet the Imaging Team</h2>
	<ul>
		<li><%= link_to 'Scientists', people_path(:anchor => 'Scientists') %></li>
		<li><%= link_to 'Collaborators', people_path(:anchor => 'Collaborators') %></li>		
		<li><%= link_to 'Research Staff', people_path(:anchor => 'Research_Staff') %></li>
		<li><%= link_to 'Graduate Students', people_path(:anchor => 'Graduate_Students') %></li>
		<li><%= link_to 'Research Assistants', people_path(:anchor => 'Research_Assistants') %></li>
		<li><%= link_to 'Alumni', people_path(:anchor => 'Alumni') %></li>
		<!-- Uncomment this line if you want to list collaborators on a separate page -->
		<!-- <li><%#= link_to 'Collaborators', collaborators_path %></li> -->
	</ul>
</div>
<hr class='yellow-hr' />