<ul id="subpages" class="clearfix">
	<li><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li class="active-subpage"><%= link_to 'People', people_path %></li>
</ul>

<div id="people-banner" class="banner-row clearfix">
	<div id="sterling-blurb">
		<h3>Sterling C. Johnson, PhD</h3>
		<p>
			Dr. Johnson is a neuropsychologist with research interests in brain function in clinical disorders. Current projects focus on 
			A) the neurobiological and psychological processes that affect memory; B) early detection of Alzheimer's Disease; 
			C) imaging markers of AD progression; D) brain changes in normal aging; E) the effect of intervention on the brain 
			in aging and AD. His lab has funding from The National Institute on Aging, The US Dept of Veterans Affairs, 
			and the State of Wisconsin.
		</p>
	</div>
	<div id="sterling-photo">
		<%= image_tag 'scj-sans.gif', :height => '250px' %>
	</div>
	<div id="contact-blurb">
		<h4><%= link_to 'Want to be part of our research?', opportunities_path('volunteers') %></h4>
		<h4><%= link_to "We're hiring!", opportunities_path('students') %></h4>
		<h3>Keep in touch!</h3>
		<p>
			WADRC Imaging Core<br />
			D4225 GRECC<br />
			William S. Middleton VA Hospital<br />
			2500 Overlook Terrace (11G)<br />
			Madison, WI, 53705<br />
			tel: (608) 256-1901 ext. 11418<br />
			<%= mail_to 'fmri@medicine.wisc.edu' %>
		</p>
	</div>
</div>

<h2>Meet the Imaging Team</h2>

<table>
<tr>
	<td style="width:760px">
	<% for group in [ @scientists, @staff, @grads, @studs ] %>
		<h3 style="clear: left;"><%= group.first.group unless group.empty? %></h3>
		<hr class="yellow-hr" />
		<ul class="people-list clearfix">
			<% group.each_with_index do |person, i| %>
				<li>
					<%= link_to(image_tag(person.photo.url(:thumb)), person) %>
					<h3><%=h person.first_name %> <%=h person.last_name %></h3>
					<!-- <h4><%=h person.degree %></h4> -->
					<h4><%=h person.job_title %></h4>
					<!-- <p>Ext. <%= person.lab_phone_ext %></p> -->
					<p style="clear:left"><%=h person.brief_bio %></p>
					<% if logged_in? %>
						<%= link_to 'edit', edit_person_path(person) %>
						<%= link_to 'delete', person, :confirm => 'Are you sure?', :method => :delete %>
					<% end %>
				</li>
				<% if (i+1) % 3 == 0 %>
					<br style="clear:both" />
				<% end %>
			<% end %>
		</ul>
	<% end %>

	<h3>Alumni</h3>
	<hr class="yellow-hr" />
	<ul>
		<% @alumni.each_with_index do |person, i| %>
			<li><h3><%=h person.first_name %> <%=h person.last_name %></h3></li>
		<% end %>
	</ul>
	</td>
	
	<td>&nbsp;</td>
	
	<td style="width:256px; vertical-align:top; background-color:#eee; border:solid thin #ddd; padding:0 0.5em 0;">
	<h3>Collaborators</h3>
	<hr class="yellow-hr" />
	<ul class="people-list">
		<% for person in @collabs %>
			<li>
				<%= link_to(image_tag(person.photo.url(:thumb)), person) %>
				<h3><%=h person.first_name %> <%=h person.last_name %></h3>
				<!-- <h4><%=h person.degree %></h4> -->
				<h4><%=h person.job_title %></h4>
				<!--<p>Ext. <%= person.lab_phone_ext %></p> -->
				<p style="clear:left"><%=h person.brief_bio %></p>
				<% if logged_in? %>
					<%= link_to 'edit', edit_person_path(person) %>
					<%= link_to 'delete', person, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</li>
		<% end %>
	</ul>
	</td>
</tr>
</table>

<br style="clear:both" />

<% if logged_in? %>
	<%= link_to 'New person', new_person_path %>
<% end %>
