<ul id="subpages">
	<li><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li class="active-subpage"><%= link_to 'People', people_path %></li>
</ul>

<div id="people-banner" class="banner-row">
	<div id="sterling-blurb">
		<h3>Sterling C. Johnson, PhD</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore 
			magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
		<p>Extention: 11452</p>
	</div>
	<div id="sterling-photo">
		<%= image_tag 'scj-sans.gif', :height => '215px' %>
	</div>
	<div id="contact-blurb">
		<%= link_to 'Want to be part of our research?' %><br />
		<%= link_to "We're hiring!" %><br />
		<h3>Keep in touch!</h3>
		<p>
			D4225 GRECC<br />
			William S. Middleton VA Hospital<br />
			2500 Overlook Terrace (11G)<br />
			Madison, WI, 53705<br />
			tel: (608) 256-1901 ext. 11418<br />
			<%= mail_to 'fmri@medicine.wisc.edu' %>
		</p>
	</div>
</div>

<h3>Meet the Team</h3>

<hr class="yellow-hr" />

<ul id="people-list">
	<% for person in @people %>
		<li>
			<%= image_tag person.photo_file_name.nil? ? 'none' : person.photo.url %>
			<h3><%=h person.first_name %> <%=h person.last_name %></h3>
			<h3><%=h person.degree %></h3>
			<p><%=h person.job_title %></p>
			<p>Ext. <%= person.lab_phone_ext %></p>
			<p style="clear:both"><%=h person.research_activities %></p>
			<%= link_to 'edit', edit_person_path(person) %>
			<%= link_to 'delete', person, :confirm => 'Are you sure?', :method => :delete %>
		</li>
	<% end %>
</ul>

<%= link_to 'New person', new_person_path %>

