<ul id="subpages">
	<li><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li class="active-subpage"><%= link_to 'People', people_path %></li>
</ul>

<div id="people-banner" class="banner-row">
	<div id="sterling-blurb">
		<h3>Sterling C. Johnson, PhD</h3>
		<p>
			Dr. Johnson is a neuropsychologist with research interests in brain function in clinical disorders. Current projects focus on 
			A) the neurobiological and psychological processes that affect memory; B) early detection of Alzheimer's Disease; 
			C) imaging markers of AD progression; D) brain changes in normal aging; E) the effect of intervention on the brain 
			in aging and AD. His lab has funding from The National Institute on Aging, The US Dept of Veterans Affairs, 
			and the State of Wisconsin.
		</p>
		<p>Extention: 11452</p>
	</div>
	<div id="sterling-photo">
		<%= image_tag 'scj-sans.gif', :height => '215px' %>
	</div>
	<div id="contact-blurb">
		<%= link_to 'Want to be part of our research?', opportunities_path('volunteers') %><br />
		<%= link_to "We're hiring!", opportunities_path('students') %><br />
		<h3>Keep in touch!</h3>
		<p>
			D4225 GRECC<br />
			William S. Middleton VA Hospital<br />
			2500 Overlook Terrace (11G)<br />
			Madison, WI, 53705<br />
			tel: (608) 256-1901 ext. 11418<br />
			<%= mail_to 'fmri@medicine.wisc.edu' %>
		</p>
	</div>
</div>

<h3>Meet the Team</h3>

<hr class="yellow-hr" />

<ul id="people-list">
	<% for person in @people %>
		<li>
			<%= link_to(image_tag(person.photo.url), person) %>
			<h3><%=h person.first_name %> <%=h person.last_name %></h3>
			<h3><%=h person.degree %></h3>
			<p><%=h person.job_title %></p>
			<p>Ext. <%= person.lab_phone_ext %></p>
			<p style="clear:both"><%=h person.brief_bio %></p>
			<% if logged_in? %>
				<%= link_to 'edit', edit_person_path(person) %>
				<%= link_to 'delete', person, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</li>
	<% end %>
</ul>

<% if logged_in? %>
	<%= link_to 'New person', new_person_path %>
<% end %>
