<ul id="subpages">
	<li><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li class="active-subpage"><%= link_to 'People', people_path %></li>
</ul>

<div class="banner-row">
	<h1>
	  <%=h @person.first_name %> 
		<%=h @person.middle_initial %>
	  <%=h @person.last_name %>
	</h1>
</div>

<p>
  <%=h @person.job_title %>
</p>

<%= image_tag @person.photo.url(:medium) %>

<p>
  <%= @person.address.to_html %>
</p>

<p>
  <b>Office:</b>
  <%=h @person.office_phone_formatted %>
</p>

<p>
  <b>Lab:</b>
  <%=h @person.lab_phone_formatted %>
</p>

<p>
  <b>Fax:</b>
  <%=h @person.fax_formatted %>
</p>

<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
	<% unless @person.long_bio.nil? %>
	  <b>Biography:</b>
  	<%= RedCloth.new(@person.long_bio).to_html %>
	<% end %>
</p>

<h3>Publications</h3>
<ul>
	<% for pub in @person.publications %>
		<li><%= link_to pub.title, pub %></li>
	<% end %>
</ul>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>