<%= stylesheet_link_tag 'people' %>
<% @page_title = title(@person.full_name) %>

<ul id="subpages">
	<li><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li class="active-subpage">People</li>
</ul>

<div id="people-banner" class="banner-row">
	&nbsp;
</div>

<div id="people-show-wrapper" class="people-wrapper">
	<div id="people-nav">
		<% for group in [ @scientists, @staff, @grads, @studs ] %>
			<h3><%= group.first.group unless group.empty? %></h3>
			<ul class="sidebar-list">
				<% group.each do |person| %>
					<li>
						<% if person == @person %>
							<%= person.full_name %>
						<% else %>
							<%= link_to person.full_name, person %>
						<% end %>
					</li>
				<% end %>
			</ul>
		<% end %>
		<h3><%= link_to 'Collaborators', collaborators_path %></h3>
	</div>

	<div id="person-description">
		<% if logged_in? %>
			<p><%= link_to 'Edit profile', edit_person_path(@person) %></p>
		<% end %>
	
		<div id="person-contactcard">
			<%= image_tag @person.photo.url(:small) %>
			<h2><%=h @person.full_name %></h2>
			<h3><%=h @person.job_title %></h3>

			<% unless @person.group == "Collaborators" %>
				<p class="left">
				  <%= @person.address.to_html unless @person.address == nil %>
				</p>

				<p class="right">
				  <b>Office:</b>
				  <%=h @person.office_phone_formatted unless @person.office_phone == nil%><br/>
				  <b>Lab:</b>
				  <%=h @person.lab_phone_formatted unless @person.lab_phone ==nil %><br/>
				  <b>Fax:</b>
				  <%=h @person.fax_formatted unless @person.fax == nil %><br/>
				  <b>Email:</b>
				  <%=h @person.email unless @person.email == nil %><br/>
					<b>Web:</b>
					<%= content_tag(:a, '[visit personal web site]', :href => @person.web_address) unless @person.web_address.nil? %>
				</p>
			<% end %>
		</div>

	
		<div id="person-details">
			<% unless @person.long_bio.empty? %>
				<h3>Biography:</h3>
			  <p><%= RedCloth.new(@person.long_bio).to_html %></p>
			<% end %>
		</div>

		<div style="float:left" id="person-pubs">
			<% unless @person.publications.empty? %>
			<h3>Publications:</h3>
			<ul id="pubs-by-this-author" class="link-and-subtext with-icon">
				<% for pub in @person.publications %>
					<li>
						<%= link_to pub.title, pub %>
						<p><%= pub.publication_date.to_s(:long) %></p>
					</li>
				<% end %>
			</ul>
			<% end %>
		
		</div>
	</div>

</div>