<ul id="subpages" class="clearfix">
	<li><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li class="active-subpage"><%= link_to 'People', people_path %></li>
</ul>

<div id="people-banner" class="banner-row">
	&nbsp;
</div>

<div id="people-nav" class="clear-fix">
<% for group in [ @scientists, @staff, @grads, @studs ] %>
	<h3><%= group.first.group unless group.empty? %></h3>
	<ul>
	<% group.each do |person| %>
		<li>
			<% if person == @person %>
				<%= person.full_name %>
				<% else %>
				<%= link_to person.full_name, person %>
			<% end %>
		</li>
	<% end %>
	</ul>
<% end %>
</div>

<div id="person-description" class="clear-fix">
	<div id="person-contactcard" class="clear-fix">
		<%= image_tag @person.photo.url(:small) %>
		<h2><%=h @person.full_name %></h2>
		<h3><%=h @person.job_title %></h3>

		<p class="left">
		  <%= @person.address.to_html %>
		</p>

		<p class="right">
		  <b>Office:</b>
		  <%=h @person.office_phone_formatted %><br/>
		  <b>Lab:</b>
		  <%=h @person.lab_phone_formatted %><br/>
		  <b>Fax:</b>
		  <%=h @person.fax_formatted %><br/>
		  <b>Email:</b>
		  <%=h @person.email %>
		</p>
	</div>

	
	<div id="person-details">
		<% unless @person.long_bio.empty? %>
			<h3>Biography:</h3>
		  	<%= RedCloth.new(@person.long_bio).to_html %>
		<% end %>
	</div>

	<div style="float:left" id="person-pubs">
		<% unless @person.publications.empty? %>
		<h3>Publications:</h3>
		<ul>
			<% for pub in @person.publications %>
				<li><%= link_to pub.title, pub %></li>
			<% end %>
		</ul>
		<% end %>
		
	</div>
</div>

<% if logged_in? %>
	<%= link_to 'Edit', edit_person_path(@person) %> |
	<%= link_to 'Back', people_path %>
<% end %>