<div class="banner-row">
	<h2>Publications from the WADRC Imaging Lab and Affiliates</h2>
</div>

<div id="pubs-index">
	<ul>
		<% @publications.each do |pub| %>
			<% pubid = "pub-#{pub.id}" %>
			<% pubtog = "#{pubid}-tog" %>
			<li>
				<%= link_to_function(pub.title) do |page|
					page.visual_effect(:toggle_blind, pubid, :duration => 0.5)
				end %>
				<p class="journal-info">
					<% unless pub.authors_info.nil? %>
						<%= pub.authors_info %><br />
					<% end %>
					<%= pub.journal_info %>
					<% unless pub.pmid.nil? or pub.pmid.empty? %>
						<%= link_to '[pubmed]', pub.pubmed_link %>
					<% end %>
				</p>
				<div id="<%= pubid %>" style="display:none">
					<p><%=h pub.abstract %>
					<%= link_to 'show more...', pub %></p>
				</div>
				<% if logged_in? %>
		    	<%= link_to 'edit', edit_publication_path(pub) %>
		    	<%= link_to 'delete', pub, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
		<% end %>
	</ul>
</div>

<br />

<% if logged_in? %>
	<%= link_to 'New publication', new_publication_path %>
<% end %>