<div class="banner-row">
	<h2>Publications from the WADRC Imaging Lab and Affiliates</h2>
</div>

<div id="pubs-index">
	<ul>
		<% @publications.each do |pub| %>
			<% pubid = "pub-#{pub.id}" %>
			<% pubtog = "#{pubid}-tog" %>
			<li>
				<%= link_to_function(pub.title) do |page|
					page.visual_effect(:toggle_blind, pubid, :duration => 0.5)
				end %>
				<p class="journal-info">
					<%= pub.journal_info %> 
					<% unless pub.pubmed_link.nil? %>
						<%= link_to '[pubmed]', pub.pubmed_link %>
					<% end %>
				</p>
				<%= content_tag :p, pub.abstract, :id => pubid, :style => "display:none" %>
				<% if logged_in? %>
		    	<%= link_to 'edit', edit_publication_path(pub) %>
		    	<%= link_to 'delete', pub, :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
		<% end %>
	</ul>
</div>

<br />

<% if logged_in? %>
	<%= link_to 'New publication', new_publication_path %>
<% end %>