<%= stylesheet_link_tag 'publications' %>

<div class="banner-row">
	<h2>Publications from the WADRC Imaging Lab and Collaborators</h2>
</div>

<div id="pubs-index">
	<ul id="pubs-list">
		<% @publications.each do |pub| %>
			<% pubid = "pub-#{pub.id}" %>
			<% pubtog = "#{pubid}-tog" %>
			<li class="pub">
				<h3 class="pub-title"><%= link_to pub.title, pub %></h3>
				<p class="pub-authors"><%= pub.authors_info %></p>
				<div class="abstract">
					<p class="pub-journal"><%= pub.journal_info %></p>
					<h3>Abstract</h3>
					<% if pub.abstract.empty? %>
						<p>No abstract available.</p>
					<% else %>
						<%#= image_tag(pub.figure.url(:small), :class => 'pub-figure') unless pub.figure.nil? %>
						<p><%= pub.abstract%></p>
					<% end %>
					<p class="pub-footer">
						<% if logged_in? %>
				    	<%= link_to 'edit', edit_publication_path(pub) %>
				    	<%= link_to 'delete', pub, :confirm => 'Are you sure?', :method => :delete %>
						<% end %>
						<%= link_to '[pubmed]', pub.pubmed_link unless pub.pmid.empty? %>
					</p>
				</div>
			</li>
		<% end %>
	</ul>
</div>

<p style="margin-bottom:500px;">
	<% if logged_in? %>
		<%= link_to 'New publication', new_publication_path %>
	<% end %>
</p>