<h1>New publication</h1>

<% form_for(@publication) do |f| %>
  <%= f.error_messages %>

	<p style="float:right">
		<%= f.label :contributors %><br />
		<%= f.collection_select :person_ids, Person.all(:order => 'last_name ASC'), :id, :full_name, {}, { :multiple => true, :size => 30 } %>
	</p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :journal_info %><br />
    <%= f.text_field :journal_info %>
  </p>
	<p>
		<%= f.label :authors_info %><br />
		<%= f.text_area :authors_info %>
	</p>
  <p>
    <%= f.label :abstract %><br />
    <%= f.text_area :abstract %>
  </p>
  <p>
    <%= f.label :publication_date %><br />
    <%= f.date_select :publication_date, :start_year => 2000, :end_year => 2020 %>
  </p>
  <p>
    <%= f.label :pmid %><br />
    <%= f.text_field :pmid %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', publications_path %>