<%= stylesheet_link_tag 'publications' %>
<% @page_title = title("Publication - " + @publication.title) %>

<div id="pubs-banner" class="banner-row">
	<h2>Publications from the WADRC Imaging Lab and Collaborators</h2>
</div>

<br />

<div id="pubs-show-sidebar" class="publications-list">
	<h3>Other Publications by These Authors:</h3>
	<ul id="list-of-related-pubs" class="link-and-subtext">
		<% related_publications = @publication.contributer_publications.empty?  ? @all_publications : @publication.contributer_publications %>
		<%# for pub in related_publications.sort_by(&:publication_date).reverse.first(10) %>
		<% for pub in related_publications.sort_by { |pub| pub.publication_date || DateTime.current }.reverse.first(10) %>
			<li>
				<%= link_to pub.title, pub %> 
				<p> <%=h pub.publication_date.blank? ? "In Press" : pub.publication_date.to_s(:long) %></p>
			</li>
		<% end %>
	</ul>
	<p><%= link_to 'back to the list of publications...', publications_path %></p>
</div>

<div id="pub-show-info">
	<h3 class="title"><%=h @publication.title %></h3>
	<hr class="blue" style="clear:none;" />
	<p class="authors"><%=h @publication.authors_info %></p>
	<p class="journal"><%=h @publication.journal_info %></p>
	<h3>Abstract</h3>
	<p class="abstract">
		<% if @publication.abstract.nil? %>
			No abstract available.
		<% else %>
			<%=h @publication.abstract %>
		<% end %>
	</p>
	<p class="pubmed-link">Pubmed ID:
		<% if @publication.pmid.nil? %>
			not available
		<% else %>
			<%= link_to(@publication.pmid, @publication.pubmed_link) %>
		<% end %>
	</p>
	<h3>Contributing Lab Members</h3>
	<ul id="contributor-list">
		<% for person in @publication.people %>
			<li class="contributor-link"><%= link_to person.full_name, person %></li>
		<% end %>
	</ul>
	<p>
		<% if logged_in? %>
			<%= link_to 'Edit', edit_publication_path(@publication) %> |
			<%= link_to 'Delete', @publication, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</p>
</div>