<ul id="subpages">
	<li><%= link_to 'Research Objectives', research_objectives_path %></li>
	<li class="active-subpage"><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li><%= link_to 'People', people_path %></li>
</ul>

<div id="people-banner" class="banner-row">
	<h2>Ongoing Research Projects</h2>
</div>

<% @study_descriptions.each do |study_description| %>
	<div class="study-description">
		<h3><%=h study_description.title %></h3>
		<p><%= RedCloth.new(study_description.body).to_html %></p>
		<% if logged_in? %>
			<%= link_to 'edit', edit_study_description_path(study_description) %>
    	<%= link_to 'delete', study_description, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</div>
<% end %>

<br />

<% if logged_in? %>
	<%= link_to 'New study description', new_study_description_path %>
<% end %>