<div class="banner-row">
	<h2>Recent Events & Announcements</h2>
</div>

<div>
	<ul id="events-list">
		<% for event in @events %>
			<li>
				<%= image_tag(event.image.url(:small)) if event.image.exists? %>
				<p><%= link_to event.title, event %> <%= event.date.to_s(:long) %></p>
				<p>
					<%= RedCloth.new(event.body).to_html %>
					<% if logged_in? %>
						<%= link_to 'edit', edit_event_path(event) %>
		    		<%= link_to 'delete', event, :confirm => 'Are you sure?', :method => :delete %>
					<% end %>
				</p>
			</li>
		<% end %>
	</ul>
</div>

<br />

<% if logged_in? %>
	<%= link_to 'New event', new_event_path %>
<% end %>