<% content_for :head do %>
	<%= stylesheet_link_tag 'events' %>
<% end %>

<% @page_title = title("News - " + @event.title) %>

<div id="events-banner" class="banner-row">
	<h2>Wisconsin ADRC News &amp; Events</h2>
</div>

<div id="events-wrapper">
  <div id="events-sidebar">
    <%= render :partial => 'events_sidebar', :locals => { :events => @recent_events, :current_event => @event } %>
  </div>
  <div id="events-content">
    <h3><%=h @event.title %></h3>
    
    <hr class="blue" style="clear:none;" />
    
    <div>
    	<%= image_tag @event.image.url(:large) if @event.image.exists? %>
    	<%= RedCloth.new(@event.body).to_html %>
    </div>

    <% if logged_in? %>
    	<%= link_to 'Edit', edit_event_path(@event) %> |
    	<%= link_to 'Back', events_path %>
    <% end %>
  </div>
</div>

