<div class="banner-row">
	<h1><%=h @event.title %></h1>
</div>

<div>
	<%= image_tag @event.image.url(:large) if @event.image.exists? %>
	<p><%= RedCloth.new(@event.body).to_html %></p>
</div>

<% if logged_in? %>
	<%= link_to 'Edit', edit_event_path(@event) %> |
	<%= link_to 'Back', events_path %>
<% end %>