<%= stylesheet_link_tag 'pages' %>
<% @page_title = title("Resource Pages") %>

<div class="banner-row">
	<h2>Wisconsin ADRC Imaging Core Resource Pages</h2>
</div>

<div id="resources-wrapper">

  <%= render :partial => 'resources_sidebar' %>

  <% unless @welcome == nil %>
	<div id="resources-content">
		<h3><%= @welcome.title %></h3>
	    <hr class="blue" style="clear:none;" />
	    <%= RedCloth.new(@welcome.content).to_html %>
	</div>
  <% end %>

</div>

<% if logged_in? %>
	<p><%= link_to 'New page', new_page_path %></p>
<% end %>