<ul id="page-ancestors-nav" class="pages-nav clearfix">
	<li><%= link_to 'Resources', pages_url %> > </li>
	<% for page in @page.ancestors.reverse %>
		<li><%= link_to page.title, page %> > </li>
	<% end %>
</ul>


<div class="banner-row">
	<h2><%= @page.title %></h2>
</div>

<div id="page-content">
  <%= RedCloth.new(@page.content).to_html %>
</div>


<% unless @page.children.empty? %>
	<h3>Related pages:</h3>
	<ul id=page-children-nav class="pages-nav clearfix">
		<% for page in @page.children %>
			<li><%= link_to page.title, page %></li>
		<% end %>
	</ul>
<% end %>


<% if logged_in? %>
	<%= link_to 'Edit this page', edit_page_path(@page) %> | 
	<%= link_to 'delete this page', @page, :confirm => 'Are you sure?', :method => :delete %>
<% end %>