<%= stylesheet_link_tag 'pages' %>
<% @page_title = title("Resource Page - " + @page.title) %>

<div class="banner-row">
	<h2>Wisconsin ADRC Imaging Core Resource Pages</h2>
</div>

<div id="resources-wrapper">

  <%= render :partial => 'resources_sidebar', :locals => { :current_page => @page } %>

  <div id="resources-content">
    <h3><%=h @page.title %></h3>
    <hr class="blue" style="clear:none;"/>
    <%= RedCloth.new(@page.content).to_html %>
    <% if logged_in? %>
      <p>
    	  <%= link_to 'Edit this page', edit_page_path(@page) %> | 
    	  <%= link_to 'delete this page', @page, :confirm => 'Are you sure?', :method => :delete %>
      </p>
    <% end %>
  </div>

</div>