<h1>New address</h1>

<% form_for(@address) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :line1 %><br />
    <%= f.text_field :line1 %>
  </p>
  <p>
    <%= f.label :line2 %><br />
    <%= f.text_field :line2 %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', addresses_path %>