<p>
  <b>Line1:</b>
  <%=h @address.line1 %>
</p>

<p>
  <b>Line2:</b>
  <%=h @address.line2 %>
</p>

<p>
  <b>Street:</b>
  <%=h @address.street %>
</p>

<p>
  <b>City:</b>
  <%=h @address.city %>
</p>

<p>
  <b>State:</b>
  <%=h @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%=h @address.zip %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>