<% @page_title = title("Edit opportunity - " + @job_advertisement.title) %>

<h1>Editing Opportunity</h1>

<% form_for(@job_advertisement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :pvl %><br />
    <%= f.text_field :pvl %>
  </p>
  <p>
    <%= f.label :responder_id %><br />
		<%= f.collection_select :responder_id, Person.all, :id, :full_name  %>
  </p>
  <p>
    <%= f.label :type %><br />
		<%= select :job_advertisement, :opp_type, {"volunteers" => "volunteers", "researchers" => "researchers", "students" => "students"} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @job_advertisement %> |
<%= link_to 'Back', job_advertisements_path %>
