<%= stylesheet_link_tag 'job_advertisements' %>
<% @page_title = title("Opportunity - " + @job_advertisement.title) %>

<div id="job-ads-banner" class="banner-row">
	<h2>Current Opportunities</h2>
</div>

<div id="opportunities-show-wrapper" class="opportunities-wrapper">
	
	<div id="opportunities-sidebar">
		<%= render :partial => 'opp_sidebar', :locals => { :opps => @opportunities, :current_opp => @job_advertisement } %>
	</div>

	<div id="opportunities-content">
		<h3><%=h @job_advertisement.title %></h3>

		<p><%= RedCloth.new(@job_advertisement.body).to_html %></p>
		
		<% unless @job_advertisement.pvl.nil? or @job_advertisement.pvl.empty? %>
			<p><b>Pvl:</b><%=h @job_advertisement.pvl %></p>
		<% end %>

		<% unless @job_advertisement.responder.nil? %>
			<p>Interested applicants please contact:</p>
		  <p>
				<%=h @job_advertisement.responder.first_name %> <%=h @job_advertisement.responder.last_name %><br />
				<%= @job_advertisement.responder.address.to_html %><br />
				<%= @job_advertisement.responder.office_phone_formatted %>
			</p>
		<% end %>

		<% if logged_in? %>
			<%= link_to 'Edit', edit_job_advertisement_path(@job_advertisement) %> |
			<%= link_to 'Back', job_advertisements_path %> |
			<%= link_to 'delete', @job_advertisement, :confirm => 'Are you sure?', :method => :delete %>
		<% end %>
	</div>

</div>