<h1>Editing personnel_group</h1>

<% form_for(@personnel_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @personnel_group %> |
<%= link_to 'Back', personnel_groups_path %>