<h1>Listing personnel_groups</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @personnel_groups.each do |personnel_group| %>
  <tr>
    <td><%=h personnel_group.name %></td>
    <td><%= link_to 'Show', personnel_group %></td>
    <td><%= link_to 'Edit', edit_personnel_group_path(personnel_group) %></td>
    <td><%= link_to 'Destroy', personnel_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New personnel_group', new_personnel_group_path %>