<% @page_title = title("Welcome") %>

<div id="home-banner" class="banner-row clearfix">
	<div class="mid-heading">
		<%= render :partial => 'blurb', :locals => { :permalink => 'home-page-main-title' } %>
	</div>
	<div class="detail">
		<%= render :partial => 'blurb', :locals => { :permalink => 'home-page-subtitle' } %>
	</div>
</div>
<br style="clear: left;"/>
<div class="cell-row clearfix">
	
	<div id="info-indicator" class="arrow-cell">
		<%= render :partial => 'blurb', :locals => { :permalink => 'home-page-prompt-cell' } %>
	</div>
	
	<div id="link-cell-container">
		<div id="volunteers-links" class="link-cell">
			<%= render :partial => 'blurb', :locals => { :permalink => 'home-page-volunteers-cell' } %>
		</div>
	
		<div id="students-links" class="link-cell">
			<%= render :partial => 'blurb', :locals => { :permalink => 'home-page-students-cell' } %>
		</div>
	
		<div id="collaborators-links" class="link-cell">
			<%= render :partial => 'blurb', :locals => { :permalink => 'home-page-collaborators-cell' } %>
		</div>
	
		<div id="researchers-links" class="link-cell">
			<%= render :partial => 'blurb', :locals => { :permalink => 'home-page-researchers-cell' } %>
		</div>
	</div>
	
</div>

<hr class="gray" />

<div class="cell-row clearfix">
	<div id="home-pubs">
		<h3>Recent Publications:</h3>
		<% unless @recent_pubs.nil? %>
			<ul>
				<% for pub in @recent_pubs %>
					<li>
						<%= link_to pub.title, pub %><br />
						<p><%= pub.journal_info %></p>
					</li>
				<% end %>
			</ul>
		<% end %>
		<p><%= link_to 'see more peer-reviewed research...', publications_path %></p>
	</div>

	<div id="home-news">
		<h3>News:</h3>
		<% unless @recent_news_items.nil? %>
			<ul>
				<% for news_item in @recent_news_items %>
					<li>
						<%= link_to news_item.title, news_item %><br />
						<p><%= news_item.date.to_s(:long) %></p>
					</li>
				<% end %>
			</ul>
		<% end %>
		<%= link_to 'read more recent events...', events_path %>
	</div>
</div>

