<% @page_title = title("Research Objectives") %>

<ul id="subpages" class="clearfix">
	<li class="active-subpage">Research Objectives</li>
	<li><%= link_to 'Current Studies', study_descriptions_path %></li>
	<li><%= link_to 'People', people_path %></li>
</ul>

<div id="research-objectives-banner" class="banner-row" <%= blurb_backgroundwithgradient_style( Blurb.find_by_permalink('research-objectives-mid-heading')) %> >
	<div class="mid-heading" >
		<%= render :partial => 'blurb', :locals => { :permalink => 'research-objectives-mid-heading' } %>
	</div>
	<div class="detail">
		<%= render :partial => 'blurb', :locals => { :permalink => 'research-objectives-detail' } %>
	</div>
</div>

<div id="research-objectives">
	<div id='clinical-objectives'>
		<%= render :partial => 'blurb', :locals => { :permalink => 'research-objectives-clinical-list' } %>
	</div>
	<div id='neurosci-objectives'>
		<%= render :partial => 'blurb', :locals => { :permalink => 'research-objectives-neurosci-list' } %>
	</div>
</div>