<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title ||= "Wisconsin ADRC - Johnson Neuroimage Core Laboratory" %></title>
  <%= stylesheet_link_tag 'application' %>
</head>

<body>

<a name="top-of-page"></a>

<div id="centered-layout-container">
	
<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, :id => "#{key}Explanation" %>
<% end %>

<div id="nav-and-logos">
	<%= link_to image_tag('vaseal_sm.png', :size => '60x60'), 'http://www.madison.va.gov/' %>
	<%= link_to image_tag('uwcrest_sm.png', :size => '42x60'), 'http://www.wisc.edu' %>
	<ul id="top-nav">
	  <li id="brainmap-tab" <%= @active_nav_tab == "brainmap-tab" ? 'class="selected-nav-tab"' : "" %>>
			<%= link_to 'WADRC Imaging Core', root_url, :class => 'lower-case' %>
		</li>
		<li id="about-tab" <%= @active_nav_tab == "about-tab" ? 'class="selected-nav-tab"' : "" %>>
			<%= link_to 'about us', research_objectives_url %>
		</li>
		<li id="pubs-tab" <%= @active_nav_tab == "pubs-tab" ? 'class="selected-nav-tab"' : "" %>>
			<%= link_to 'publications', publications_path %>
		</li>
		<li id="resources-tab" <%= @active_nav_tab == "resources-tab" ? 'class="selected-nav-tab"' : "" %>>
			<%= link_to 'resources', pages_path %>
		</li>
		<li id="opportunities-tab" <%= @active_nav_tab == "opportunities-tab" ? 'class="selected-nav-tab"' : "" %>>
			<%= link_to 'opportunities', opportunities_path(:volunteers) %>
		</li>
		<li id="news-tab" <%= @active_nav_tab == "news-tab" ? 'class="selected-nav-tab"' : "" %>>
			<%= link_to 'news', events_path %>
		</li>
		<li id="contact-tab" <%= @active_nav_tab == "contact-tab" ? 'class="selected-nav-tab"' : "" %>>
			<%= link_to 'contact', people_path %>
		</li>
	</ul>
</div>

<div id="page-content">
	<%= yield %>
</div>

<div id="footer">
	<hr class="yellow-hr" />
	<p id="copyright">&copy; Copyright - Brainmap</p>
	<p id="attribution">
		<% if logged_in? %>
			Logged in as <%= current_user.login %> |
			<%= link_to 'Manage', users_path %> |
			<%= link_to 'Logout', logout_path %> |
		<% else %>
			<%= link_to 'Login', login_path %> |
		<% end %>
		Site design <%= link_to '38one', 'http://www.38one.com' %>
	</p>
</div>

<!-- Google Analytics Tracking Cookie -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-3259914-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</div>

</body>
</html>
